In [135]:
import pandas as pd

In [136]:
airports = pd.read_csv('new_airports.csv')
runways = pd.read_csv('new_runways')

In [137]:
merged = pd.merge(airports, runways, on = 'ident')[['ident', 'type', 'airport_name', 'latitude_deg', 'longitude_deg', 'iso_country', 'country', 'length_meters', 'lighted', 'closed']]

merged.columns = ['ident', 'type', 'airport_name', 'lat', 'lon', 'iso_country', 'country', 'length_meters', 'lighted', 'closed']

In [138]:
merged

,ident,type,airport_name,lat,lon,iso_country,country,length_meters,lighted,closed
0,00A,heliport,Total RF Heliport,40.070985,-74.933689,US,United States of America,24.3840,1,0
1,00AK,small_airport,Lowell Field,59.947733,-151.692524,US,United States of America,762.0000,0,0
2,00AL,small_airport,Epps Airpark,34.864799,-86.770302,US,United States of America,701.0400,0,0
3,00AN,small_airport,Katmai Lodge Airport,59.093287,-156.456699,US,United States of America,1376.7816,0,0
4,00AS,small_airport,Fulton Airport,34.942803,-97.818019,US,United States of America,441.9600,0,0
...,...,...,...,...,...,...,...,...,...,...
39884,ZYTX,large_airport,Shenyang Taoxian International Airport,41.639801,123.483002,CN,China,3200.0952,1,0
39885,ZYYJ,medium_airport,Yanji Chaoyangchuan Airport,42.882801,129.451004,CN,China,2599.9440,1,0
39886,ZYYK,medium_airport,Yingkou Lanqi Airport,40.542524,122.358600,CN,China,2499.9696,0,0
39887,ZZ-0003,small_airport,Fainting Goat Airport,32.110587,-97.356312,US,United States of America,548.6400,0,0
39888,ZZZZ,small_airport,Satsuma Iōjima Airport,30.784722,130.270556,JP,Japan,522.1224,0,0

There are lot of difference between the country names in airport and runways csv
so i will check the difference and manually assign the names to be the same

In [139]:
countries = merged['country'].drop_duplicates()

In [140]:
passport = pd.read_csv('passport_index_reshaped.csv')

In [141]:
countries2 = passport['from'].drop_duplicates()

In [142]:
#countries = countries.replace(fix_countries_dict)

In [143]:
check_country = pd.merge(countries, countries2, left_on = 'country', right_on = 'from', how = 'outer')

In [145]:
check_country[check_country['country'].isna() | check_country['from'].isna()]

                      country     from
3              American Samoa      NaN
4                         NaN  Andorra
6                    Anguilla      NaN
7                  Antarctica      NaN
11                      Aruba      NaN
..                        ...      ...
258                       NaN  Vietnam
259  Virgin Islands (British)      NaN
260     Virgin Islands (U.S.)      NaN
261         Wallis and Futuna      NaN
262            Western Sahara      NaN

[95 rows x 2 columns]

In [146]:
fix_countries_dict = {
'Bolivia, Plurinational State of' : 'Bolivia',
'Anguilla' : 'United Kingdom',
'Aruba' : 'Netherlands',
'Bermuda' : 'United Kingdom',
'Bonaire, Sint Eustatius and Saba' : 'Netherlands',
'British Indian Ocean Territory' : 'United Kingdom',
'Brunei Darussalam' : 'Brunei',
'Cabo Verde' : 'Cape Verde',
'Christmas Island' : 'Australia',
'Cocos (Keeling) Islands' : 'Australia',
'Cook Islands' : 'New Zealand',
'Czechia' : 'Czech Republic',
'Congo, Democratic Republic of the' : 'DR Congo',
"Côte d'Ivoire" : 'Ivory Coast',
'Eswatini' : 'Swaziland',
'Falkland Islands (Malvinas)' : 'United Kingdom',
'French Guiana' : 'France',
'French Polynesia' : 'France',
'French Southern Territories' : 'France',
'Gibraltar' : 'United Kingdom',
'Greenland' : 'Denmark',
'Guadeloupe' : 'France',
'Guam' : 'United States',
'Guernsey' : 'United Kingdom',
'Iran, Islamic Republic of' : 'Iran',
'Isle of Man' : 'United Kingdom',
'Jersey' : 'United Kingdom',
"Korea, Democratic People's Republic of" : 'North Korea',
'Korea, Republic of' : 'South Korea',
"Lao People's Democratic Republic" : 'Laos',
'Martinique' : 'France',
'Mayotte' : 'France',
'Micronesia, Federated States of' : 'Micronesia',
'Moldova, Republic of' : 'Moldova',
'Montserrat' : 'United Kingdom',
'Netherlands, Kingdom of the' : 'Netherlands',
'New Caledonia' : 'France',
'Niue' : 'New Zealand',
'Norfolk Island' : 'Australia',
'Northern Mariana Islands' : 'United States',
'Puerto Rico' : 'United States',
'Russian Federation' : 'Russia',
'Réunion' : 'France',
'Saint Barthélemy' : 'France',
'Saint Helena, Ascension and Tristan da Cunha' : 'United Kingdom',
'Saint Martin (French part)' : 'France',
'Saint Pierre and Miquelon' : 'France',
'Sint Maarten (Dutch part)' : 'Netherlands',
'Syrian Arab Republic' : 'Syria',
'Taiwan, Province of China' : 'Taiwan',
'Tanzania, United Republic of' : 'Tanzania',
'Turks and Caicos Islands' : 'United Kingdom',
'Türkiye' : 'Turkey',
'United Kingdom of Great Britain and Northern Ireland' : 'United Kingdom',
'United States Minor Outlying Islands' : 'United States',
'United States of America' : 'United States',
'Venezuela, Bolivarian Republic of' : 'Venezuela',
'Viet Nam' : 'Vietnam',
'Virgin Islands (British)' : 'United Kingdom',
'Virgin Islands (U.S.)' : 'United States',
'Wallis and Futuna' : 'France',
'Western Sahara' : 'Morocco',
'American Samoa' : 'United States',
'Cayman Islands' : 'United Kingdom'
}

In [147]:
countries = countries.replace(fix_countries_dict)
check_country = pd.merge(countries, countries2, left_on = 'country', right_on = 'from', how = 'outer')

In [148]:
check_country[check_country['country'].isna() | check_country['from'].isna()]

           country           from
3              NaN        Andorra
5       Antarctica            NaN
46         Curaçao            NaN
62   Faroe Islands            NaN
117            NaN  Liechtenstein
133            NaN         Monaco
159            NaN      Palestine
237            NaN        Vatican

All of the rows that are still nulls, it because there arent airports in it, only helipods and closed ones so its ok to drop it

In [150]:
check_country = pd.merge(countries, countries2, left_on = 'country', right_on = 'from', how = 'inner')

Now lets build a function that takes the airports csv and replace the country name with the good nname

In [156]:
def replace_country_name(airports):
    fix_countries_dict = {
    'Bolivia, Plurinational State of' : 'Bolivia',
    'Anguilla' : 'United Kingdom',
    'Aruba' : 'Netherlands',
    'Bermuda' : 'United Kingdom',
    'Bonaire, Sint Eustatius and Saba' : 'Netherlands',
    'British Indian Ocean Territory' : 'United Kingdom',
    'Brunei Darussalam' : 'Brunei',
    'Cabo Verde' : 'Cape Verde',
    'Christmas Island' : 'Australia',
    'Cocos (Keeling) Islands' : 'Australia',
    'Cook Islands' : 'New Zealand',
    'Czechia' : 'Czech Republic',
    'Congo, Democratic Republic of the' : 'DR Congo',
    "Côte d'Ivoire" : 'Ivory Coast',
    'Eswatini' : 'Swaziland',
    'Falkland Islands (Malvinas)' : 'United Kingdom',
    'French Guiana' : 'France',
    'French Polynesia' : 'France',
    'French Southern Territories' : 'France',
    'Gibraltar' : 'United Kingdom',
    'Greenland' : 'Denmark',
    'Guadeloupe' : 'France',
    'Guam' : 'United States',
    'Guernsey' : 'United Kingdom',
    'Iran, Islamic Republic of' : 'Iran',
    'Isle of Man' : 'United Kingdom',
    'Jersey' : 'United Kingdom',
    "Korea, Democratic People's Republic of" : 'North Korea',
    'Korea, Republic of' : 'South Korea',
    "Lao People's Democratic Republic" : 'Laos',
    'Martinique' : 'France',
    'Mayotte' : 'France',
    'Micronesia, Federated States of' : 'Micronesia',
    'Moldova, Republic of' : 'Moldova',
    'Montserrat' : 'United Kingdom',
    'Netherlands, Kingdom of the' : 'Netherlands',
    'New Caledonia' : 'France',
    'Niue' : 'New Zealand',
    'Norfolk Island' : 'Australia',
    'Northern Mariana Islands' : 'United States',
    'Puerto Rico' : 'United States',
    'Russian Federation' : 'Russia',
    'Réunion' : 'France',
    'Saint Barthélemy' : 'France',
    'Saint Helena, Ascension and Tristan da Cunha' : 'United Kingdom',
    'Saint Martin (French part)' : 'France',
    'Saint Pierre and Miquelon' : 'France',
    'Sint Maarten (Dutch part)' : 'Netherlands',
    'Syrian Arab Republic' : 'Syria',
    'Taiwan, Province of China' : 'Taiwan',
    'Tanzania, United Republic of' : 'Tanzania',
    'Turks and Caicos Islands' : 'United Kingdom',
    'Türkiye' : 'Turkey',
    'United Kingdom of Great Britain and Northern Ireland' : 'United Kingdom',
    'United States Minor Outlying Islands' : 'United States',
    'United States of America' : 'United States',
    'Venezuela, Bolivarian Republic of' : 'Venezuela',
    'Viet Nam' : 'Vietnam',
    'Virgin Islands (British)' : 'United Kingdom',
    'Virgin Islands (U.S.)' : 'United States',
    'Wallis and Futuna' : 'France',
    'Western Sahara' : 'Morocco',
    'American Samoa' : 'United States',
    'Cayman Islands' : 'United Kingdom'
    }
    airports['country'] = airports['country'].replace(fix_countries_dict)
    return airports

In [158]:
replace_country_name(merged)

,ident,type,airport_name,lat,lon,iso_country,country,length_meters,lighted,closed
0,00A,heliport,Total RF Heliport,40.070985,-74.933689,US,United States,24.3840,1,0
1,00AK,small_airport,Lowell Field,59.947733,-151.692524,US,United States,762.0000,0,0
2,00AL,small_airport,Epps Airpark,34.864799,-86.770302,US,United States,701.0400,0,0
3,00AN,small_airport,Katmai Lodge Airport,59.093287,-156.456699,US,United States,1376.7816,0,0
4,00AS,small_airport,Fulton Airport,34.942803,-97.818019,US,United States,441.9600,0,0
...,...,...,...,...,...,...,...,...,...,...
39884,ZYTX,large_airport,Shenyang Taoxian International Airport,41.639801,123.483002,CN,China,3200.0952,1,0
39885,ZYYJ,medium_airport,Yanji Chaoyangchuan Airport,42.882801,129.451004,CN,China,2599.9440,1,0
39886,ZYYK,medium_airport,Yingkou Lanqi Airport,40.542524,122.358600,CN,China,2499.9696,0,0
39887,ZZ-0003,small_airport,Fainting Goat Airport,32.110587,-97.356312,US,United States,548.6400,0,0
39888,ZZZZ,small_airport,Satsuma Iōjima Airport,30.784722,130.270556,JP,Japan,522.1224,0,0